@import url("https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200..800;1,200..800&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Red+Hat+Text:ital,wght@0,300..700;1,300..700&display=swap");
:root {
  --red: hsl(14, 86%, 42%);
  --green: hsl(159, 69%, 38%);
  --rose-50: hsl(20, 50%, 98%);
  --rose-100: hsl(13, 31%, 94%);
  --rose-300: hsl(14, 25%, 72%);
  --rose-400: hsl(7, 20%, 60%);
  --rose-500: hsl(12, 20%, 44%);
  --rose-900: hsl(14, 65%, 9%);
  --ff-Red-Hat-Text: "Red Hat Text", sans-serif;
}
body{
    background-color: var(--rose-100);
    font-family: var(--ff-Red-Hat-Text);
}
/* section-1 */
.section-1 h2{
    font-weight: 700;
    color: var(--rose-900);
}
.btn{
    border: 1px solid var(--rose-400);
    font-weight: 600;
}
.card-1{
    position:relative
}
.card-btn{
    position: absolute;
    left: 40px;
    top: 220px;
}
.card-title{
    color: var(--rose-500);
    font-size: 16px;
}
.card-text{
    font-weight: 600;
}
h6{
    color: var(--red);
    font-weight: 700;
}
.bg-size{
    background-color: aliceblue;
    height: 30%;
    border-radius: 10px;
}
.w{
    width: 40%;
}
h4{
    color: var(--red);
    font-weight: 700;
    font-size: 16px;
}
.p-tag{
    font-size: 10px;
    font-weight: 600;
    text-align: center;
    color: var(--rose-500);
}
